$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '../node_modules/font-awesome/fonts';
$font-size-base: 0.8rem !default;

$primary: #191f60 !default;
$secondary: #67308e !default;
